
#content{
	color: green;
}
.menu{
	background-color: black; color: white;
}
.menu a{
	color: white;
}
.menu a:hover{
	color: black;
	background-color: white;
}
body{
	margin: 0;
}
#header{
	padding: 10px;
}
table{
	border: 5px solid pink;
}
		